@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/fonts/ProximaNova-Regular.eot');
	src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Regular.woff') format('woff'),
		url('/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('/fonts/ProximaNova-Bold.eot');
	src: url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Bold.woff') format('woff'),
		url('/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('/fonts/ProximaNova-Light.eot');
	src: url('/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Light.woff') format('woff'),
		url('/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body {
  background-color: #0073aa;
  color: white;
}


.App {
  /*width: 4096px;*/
  /*height: 768px;*/
  font-family: 'Proxima Nova Rg';
  
  text-align: center;

  text-transform: uppercase;
}

.head1 {
  font-weight: bold;
  letter-spacing: .1ch;
}

.businessLocation {
  color: #1F3C4E;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  letter-spacing: .1ch;
  box-shadow: 0px 0px 20px rgba(255,255,255,.5);
}

.timeElapsed {
  margin-top: 5px;
  font-weight: normal;
  letter-spacing: .1ch;
}

.head2 {
  font-weight: normal;
  font-size: 1.6em;
  letter-spacing: .1ch;
}